p.title{
    margin-left: 1.5em;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.upload{
    margin-top: 0.2em;
    margin-left: 1em;
    font-size: large;
}

.uploadi{
    margin-top: 0.2em;
    margin-left: 1em;
    font-size: large;
}
.uploadi:hover{
    color: mediumslateblue;
}

.log_text{
    font-size: larger;
}

.remove{
    margin-top: 0.2em;
    margin-left: 1em;
    font-size: large;
}

.removei{
    margin: 0.2em;
    margin-left: 1em;
    font-size: large;
}
.removei:hover{
    color: red;
}

.log_text{
    font-size: larger;
}